{% extends 'base.html.twig' %}

{% block title %}Affiliation{% endblock %}

{% block body %}
{% if Affiliations is empty %}
	<div>
		<p class="text-center fs-3" >Aucune affiliation pour l'instant</p>
	</div>
{% else %}
	{% for Affiliation in Affiliations %}
	<section class="post-grid section pt-0">
		<div class="container">
			<div class="row">
	      		<div class="container">
	        		<div class="row" data-aos="zoom-in-up" data-aos-duration="3000" style="margin:2% 0 2% 0;">
						{% for Affiliation in Affiliations %}
	            			<div class="col-lg-4 col-md-6 mb-4">
	            	  			<div class="card h-100" style="border:none;" >
									<img src="/uploads/image/{{ Affiliation.AffiliationLogo}}" class="img-fluid" alt="Logo" style=" width: 300px;height: 300px; object-fit: cover; display: block; margin: 0 auto;">
									<div class="card-body">
	            	      				<h4 class="card-title text-center">{{Affiliation.AffiliationNom}}</h4>
	            	    				<p class="card-text text-justify" style="color:#808080"></p>			  
									</div>				
	            				</div>
	          				</div>
	        			{% endfor %}
						<style>
							a{
								color:black	;
								 text-decoration: none;
							}
							span{
								margin:1%;
							}	
						</style>			
	      			</div>
	    		</div>
	    	</div>
		</div>
	</section>  


	{% endfor %}
{% endif %}
{% endblock %}
