{% extends 'base.html.twig' %}

{% block title %}Competence{% endblock %}

{% block body %}
<div class="container">
    {% for Competence in Competences %}
        <h2 class="text-center">{{Competence.CompetenceNom}}</h2>
        <p >{{Competence.CompetenceContenu}}<p>        
    {% endfor %}

</div>
    
{% endblock %}
