* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
body {
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
  color: #000;
  font-weight: 300;
}
p,
a,
li {
  font-family: "Lora", serif;
}
h1 {
  font-size: 45px;
  line-height: 61px;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

p,
li,
blockquote,
label {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

section {
  margin-bottom: 5%;
}
.link {
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  color: #000 !important;
  letter-spacing: 0.5px;
}

.link:after {
  content: "";
  position: absolute;
  background-color: rgb(75, 75, 75);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.link:hover:after {
  width: 100%;
}
img {
  width: 100%;
}

.navigation {
  display: block;
  justify-content: end;
}
.containt {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.hero {
  object-fit: cover;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation {
  color: black;
  text-decoration: none;
}
.pre {
  height: 250px !important;
  box-shadow: 1px 1px 2px 2px #f2f2f2;
}
.pre:hover {
  box-shadow: 1px 1px 2px 2px;
}
.card-pre {
  margin-top: 15%;
}

.feature {
  background-color: #f2f2f2;
}

.presentation:hover {
  text-decoration: none;
  color: #000;
}
.image-content {
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.Approche {
  display: none;
  overflow: scroll;
  border: 1px solid white;
  height: 250px;
}
.objectif {
  display: none;
  overflow: scroll;
  border: 1px solid white;
  height: 250px;
}

@media only screen and (max-width: 600px) {
  .containt {
    width: 95%;
  }
  .link:after {
    width: 0;
  }

  .link:hover:after {
    width: 0;
  }
}
